.table{
  border: none;  
  thead {
    border: none;
    tr{
      border: none;
    }
    th {
      padding: 15px;
      border: none;
      font-size: 16px;
      font-weight: 400;
      background: $prymaryColor;
      color: #fff;
    }
  }
  tbody{        
    td{
      border: none;
      padding: 10px 20px;
    }    
  }

  &-bordered {
    tbody {
      tr{
        border: none;
        border-top: 1px solid $mutedColor;
      }
    }
  }

  &.thead-sticky {
    position: relative;    
    thead{
      th {
        position: sticky; 
        top: 0;
      }
    }
  }
}